.navBar {
  border-bottom: 2px solid #ccc;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;

  .logoContainer {
    padding: 8px 64px;

    .logo-image {
      height: 60px;
      width: 114px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
  }

}