@use '../../styles/variables';

.product-card {
  border-radius: 8px;
  box-shadow: 1px 1px 5px 0px variables.$light-gray-color;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  border: 1px solid variables.$light-gray-color;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image-container {
    padding: 16px;

    .productImage {
      width: 100%;
      height: 200px;

    }
  }

  .content {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .productName,
    .price {
      margin-top: 8px;
      text-align: center;
    }

  }

  .productName {
    font-weight: bold;
    font-size: 20px;
  }

  .price {
    padding: 8px;
    color: variables.$price-color;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    .button {
      padding: 16px;
      border-radius: 8px;
      background-color: variables.$product-card-btn-color;
      font-weight: bold;
      margin-top: 16px;
    }
  }

}