$nav-item-color: #f7f6f6;
$product-card-btn-color: #d3bbbb;
$price-color: green;
$dark-color: black;
$gray-color: #333;
$light-gray-color: #ccc;
$white-color: white;
$table-head-color: #ecebeb;
$table-body-color: #f8f7f7;