@use '../../styles/variables';

.nav-bar {
  border-bottom: 2px solid variables.$light-gray-color;
  box-shadow: 0px 4px 10px 0px rgba(variables.$dark-color, 0.1);
  display: flex;
  justify-content: space-between;

  .logo-container {
    padding: 8px 64px;

    .logo-image {
      height: 60px;
      width: 114px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
  }

}