@use '../../styles/variables';

.table-wrapper {
  min-width: 500px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px 0px rgba(variables.$dark-color, 0.2);

  thead {
    background-color: variables.$table-head-color;
  }

  tbody {
    background-color: variables.$table-body-color;
  }

  thead,
  tbody {
    td {
      min-width: 200px;

      .edit-quantity {
        margin: 0 auto
      }

    }

    th,
    td {
      &:first-child {
        padding: 16px;
        text-align: left;
      }

      &:last-child {
        text-align: right;
        padding: 16px;
      }

      &:last-child.no-product-text {
        text-align: center;
      }
    }
  }

  .no-product-text {
    text-align: center;
  }
}